---
sudo: false
language: ruby
cache: bundler
rvm:
  - 2.1
  - 2.2
  - 2.3
  - 2.4
  - 2.5
  - 2.6
before_install:
  - gem install bundler -v 1.17.3
  - sudo add-apt-repository ppa:cpick/hub -y
  - sudo apt-get update
  - sudo apt-get install hub